.nav{
    display: flex;
    background-color: rgb(215, 213, 213);
    height:70px;
}
.for{
width:200px;
height:50px; 
margin-top:10px;
margin-left:40px;
   
}
 .navbar{
    font-size:15px;
    padding:20px;
    color:rgb(20, 14, 14);
   margin-left:150px;
}
a{
    text-decoration: none;
    padding: 10px;
    color:rgb(20, 14, 14);
    font-weight:20px;
    text-shadow: 10px;
   
}
a:hover{
    color:rgb(87, 85, 85);
}
.icons{
 display: flex;
padding:20px;
margin:auto;
}
.icons img{
    padding:10px;
    width:30px;
    height:30px;
}
.drop-down a{
display: block;
top:3px;
}
.menu-icon {
  display: none; 
}

.side-bar {
  display: none; 
}
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .side-bar.open{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color:rgb(199, 198, 198);
    width: 250px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    display: none; 
  }

  .menu-icon {
    display: block; 
    cursor: pointer;
    width: 30px;
  }
}